<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello World</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    </head>
    <body>
        <form action="creategame" method="get">
            game name: <input type="text" name="gname"><br>
            <input type="submit" value="create">
        </form>
        <form action="joingame" method="get">
            game name: <input type="text" name="gname"><br>
            <input type="submit" value="join">
        </form>
    </body>
</html>

        


