<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Star Star</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="/static/myscript.js"></script>
    </head>
    <body>
        <h1>Star</h1>
        <p id="randommove">random move</p>
        <p id="calculatescore">calculate score</p>
        <p id="bscore">--</p>
        <p id="wscore">--</p>
        <p id="bgroups">--</p>
        <p id="wgroups">--</p>
        <p id="increase_iters">increase iters<p>
        <p id="newgame">New Game<p>

        <p id="p1-name">Player 1 Name</p>
        <p id="p1-time">Player 1 Name</p>
        <p id="p2-name">Player 2 Name</p>
        <p id="p2-time">Player 2 Name</p>
        <p id="resign">Player 2 Name</p>

        <canvas id="myCanvas" width="1000" height="1000"> </canvas>
    </body>
</html>
